<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>شركة راحة الاسرة</title>
</head>
<body>
  <!-- NavBar Start -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/logo.JPG" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">الرئيسية</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">عن الشركة</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">خدمات الشركة</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">الاخبار</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> الاسئلة الشائعة</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">اتصل بنا</a>
            </li>
            <li class="nav-item">
              <img src="assets/icon.JPG" alt="">
            </li>
          </ul>
        </div>
    </div>
  </nav>
  <!-- NavBar End -->
<!-- header Start -->
<header>
  <div id="title">حجز عمالة منزلية </div>
  <OL>
    <li>الرئيسية</li>
    <li>خدمات الشركة</li>
  </OL>
</header>
<!-- header End -->


<!-- steps div start-->
<div class="container steps">
  <div class="step1 content">
    <img src="assets/location.png" alt="" class="img-fluid">
    <div>
      <p>الخطوة 1</p>
      <p>تحديد العنوان</p>
    </div>
  </div>
<div class="step2 content">
  <img src="assets/select.png" alt="" class="img-fluid">
  <div>
    <p>الخطوة 2</p>
    <p>اختيار الباقة</p>
  </div>
</div>
<div class="step3 content">
  <img src="assets/woman.png" alt="" class="img-fluid">
  <div>
    <p>الخطوة 3</p>
    <p>اختيار العاملة</p>
  </div>
</div>
<div class="step4 content">
  <img src="assets/files.png" alt="" class="img-fluid">
  <div>
    <p>الخطوة 4</p>
    <p>التفاصيل </p>
  </div>
</div>
<div class="step5 content">
  <img src="assets/show.png" alt="" class="img-fluid">
  <div>
    <p>الخطوة 5</p>
    <p>عرض العقد</p>
  </div>
</div>
<div class="step6 content">
  <img src="assets/hyperlink.png" alt="" class="img-fluid">
<div>
  <p>الخطوة 6</p>
  <p>المرفقات </p>
</div>
</div>
<div class="step7 content">
  <img src="assets/cash.png" alt="" class="img-fluid">
<div>
  <p>الخطوة 7</p>
  <p>الدفع </p>
</div>
</div>
</div>
<!-- steps div end-->

<p id="selectemp">اختيار عاملات النظافة</p>
<!-- employees start -->
<div class="container employees">
  <div class="filters">
    <h6>فلترة النتائج</h6>
    <h6>العمر</h6>
    <div class="age">50</div>
    <div class="toolTip">
      <div class="progress"></div>
      <div class="tool">
        <span class="tooltipText">18</span>
      </div>
      <div class="tool">
        <span class="tooltipText">25</span>
      </div>
    </div>
    <h6>الجنسية</h6>
    <select name="demo" id="#">
      <option selected="selected" value="one">اختر</option>
      <option value="two">مصري</option>
      <option value="three">سعودي</option>
      </select>
      <div class="showDel">
        <div class="show">
          <button class="btn btn-primary">عرض الباقات</button>
        </div>
        <div class="delete">
          <span class="delTooltip">مسح</span>
        </div>
      </div>
  </div>
  <div>
    <div class="searchresult">عدد نتائج بحث <span>10</span> خادمات منزلية</div>
    <div class="empdetails">
      <div class="emp" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="assets/human.JPG" alt="" class="img-fluid">
        <p>elti ernawati bint warli</p>
        <div class="paragraphs">
          <p>المهنه : عاملة نظافة </p>
          <p>الجنسية : اندونسيا </p>
          <p>الديانة : غير محدد </p>
          <p> إجادة الطبخ والتنظيف </p>
          <p> معاملة الاطفال </p>
        </div>
      </div>
      <div class="emp" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="assets/human.JPG" alt="" class="img-fluid">
        <p>elti ernawati bint warli</p>
        <div class="paragraphs">
          <p>المهنه : عاملة نظافة </p>
          <p>الجنسية : اندونسيا </p>
          <p>الديانة : غير محدد </p>
          <p> إجادة الطبخ والتنظيف </p>
          <p> معاملة الاطفال </p>
        </div>      </div>     
      <div class="emp" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="assets/human.JPG" alt="" class="img-fluid">
        <p>elti ernawati bint warli</p>
        <div class="paragraphs">
          <p>المهنه : عاملة نظافة </p>
          <p>الجنسية : اندونسيا </p>
          <p>الديانة : غير محدد </p>
          <p> إجادة الطبخ والتنظيف </p>
          <p> معاملة الاطفال </p>
        </div>      </div>   
         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">تفاصيل عامة</h5>
               </div>
               <div class="modal-body">
                 ...
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                 <button type="button" class="btn btn-primary">تعاقد الان</button>
               </div>
            </div>
          </div>
         </div>
         <!-- Model end -->
    </div>
  </div>
</div>
<!-- employees end -->

<!-- paginate buttons start -->
<div class="paginate">
  <button class="btn btn-outline-primary">السابق</button>
  <button class="btn btn-primary">التالي</button>
</div>
<!-- paginate buttons end -->

<!-- footer start -->
<footer>
  <p>شركة راحة الاسرة . 2021 &copy;</p>
</footer>
<!-- footer end -->
</body>
</html>